<header>
  <img class="logo" src="https://content.codecademy.com/courses/freelance-1/unit-4/img-tea-cozy-logo.png?_gl=1*7xu3m2*_ga*NTMyNDg3ODY0My4xNzA2NTU3MjY3*_ga_3LRZM6TM9L*MTcxNDI3MDc0OC41LjEuMTcxNDI3ODA4Mi41Ny4wLjA."/>
    <ul class="navigation">
      <li><a href="#">Mission</a></li>
      <li>Featured Tea</li>
      <li>Locations</li>
    </ul>
</header>

<body>
  <main class="banner">

  </main>
  <div class="ofMonth">

  </div>
  <div class="locations">

  </div>
  <div class="contact">

  </div>
</body>

<footer>

</footer>
